:root {
	--bg: #091413;
	--text: #fff;
	--primary: #39c5bb;
	--primary-dark: #216D67;
	--primary-bg: #091413;
}

::-webkit-scrollbar-thumb {
	/* Scrollbar Foreground */
  background: var(--primary);
}
::-webkit-scrollbar-track {
	/* Scrollbar Background */
  background: var(--primary-bg);
  background: transparent;
}

@keyframes bg-pulse {
	from {
    background-position: 0% 100%;
  }
  to {
    background-position: 100% 0%;
  }
}

body {
	background: var(--bg);
	color: var(--text);
	background-image: linear-gradient(160deg, var(--primary-bg) 40%, var(--primary-dark));
	animation-duration: 1s;
	animation-name: bg-pulse;
	background-size: 200% 200%;
  background-position: 0% 100%;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1); /* easeInOutSine */
  animation-direction: alternate;
}

table {
	margin-top: 32px;
}
table tr > td:nth-child(1) {
	max-width: 200px;
}
table tr > td {
	max-width: 400px;
}






#main {
	display: flex;
	width: 100%;
	gap: 8px;
}
#left {
	padding: 8px;
	width: 350px;
	height: calc(100vh - 32px);
	overflow: hidden;
	overflow-y: scroll;
	mask-image: linear-gradient(to bottom, white 95%, transparent 100%);
}
#gap {
	background-image: linear-gradient(to bottom, var(--primary), var(--primary), transparent, var(--primary), var(--primary));
	width: 2px;
	height: calc(100vh - 16px);
}
#right {
	width: calc(100% - 342px);
}





#editor {
	height: calc(100% - 40px);
}

#config {
	padding: 8px;
	overflow: hidden;
	overflow-y: scroll;
	display: grid;
	gap: 10px;
}

#cfg-title {
	font-size: larger;
	font-weight: bold;
	padding-left: 5px;
}

#status {
	font-style: italic;
  font-size: small;
  padding-left: 5px;
  height: 20px;
  display: inline-block;
  padding-top: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

input[type="text"],
input[type="password"],
textarea {
	background-color: #00000066;
	border-radius: 8px;
	color: var(--text);
	border: 0;
	border: 2px solid var(--primary);
	padding: 8px;
	width: calc(100% - 16px);
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	width: calc(100% - 16px);
	border: 2px solid var(--primary);
	outline: 1px solid var(--primary);
	outline-offset: 1px;
}

#config textarea {
	width: calc(100% - 16px);
	height: 100px;
	overflow: hidden;
}
#config textarea:focus {
	overflow-y: scroll;
}

#config textarea#pgpPrivate {
	filter: blur(5px) blur(5px);
	transition-duration: .2s;
	overflow: hidden;
}
#config textarea#pgpPrivate:focus {
	filter: blur(0px);
	overflow-y: scroll;
}

button {
	background-color:  #00000066;
	color: var(--text);
	border: 2px solid var(--primary);
	padding: 5px 8px;
	border-radius: 8px;
	box-shadow: 1px 1px 0 var(--primary), 2px 2px 0 var(--primary);
}

.modifited {
	font-weight: bold;
}
.modifited::before {
	content: "* ";
	font-weight: bold;
}
.title {
	cursor: pointer;
}

.remove {
	color:deeppink;
	font-weight: bold;
	cursor: pointer;
}
.edit {
	color:cornflowerblue;
	font-weight: bold;
	cursor: pointer;
}
.add {
	color:aquamarine;
	font-weight: bold;
	cursor: pointer;
}

.collapsed {
	display: none;
}
.arrow::before, .note::before {
	color: var(--primary);
	font-size: small;
}
.arrow.closed::before {
	content: "▶ ";
}
.arrow.opened::before {
	content: "▼ ";
}
.note::before {
	content: "[N] ";
}

#tree ul {
	list-style: none;
	padding-left: 15px;
	border-left: 2px solid var(--primary);
}
