:root {
	--bg: #091413;
	--text: #fff;
	--primary: #39c5bb;
	--primary-dark: #216D67;
	--primary-bg: #091413;
}

::-webkit-scrollbar-thumb {
	/* Scrollbar Foreground */
  background: var(--primary);
}
::-webkit-scrollbar-track {
	/* Scrollbar Background */
  background: var(--primary-bg);
  background: transparent;
}

body {
	background: var(--bg);
	color: var(--text);
}

table {
	margin-top: 32px;
}
table tr > td:nth-child(1) {
	max-width: 200px;
}
table tr > td {
	max-width: 400px;
}






#main {
	display: flex;
	width: 100%;
	gap: 8px;
}
#left {
	padding: 8px;
	width: 350px;
	height: calc(100vh - 32px);
	overflow: hidden;
	overflow-y: scroll;
	mask-image: linear-gradient(to bottom, white 95%, transparent 100%);
}
#gap {
	background-image: linear-gradient(to bottom, var(--primary), var(--primary), transparent, var(--primary), var(--primary));
	width: 2px;
	height: calc(100vh - 16px);
}
#right {
	width: calc(100% - 342px);
}






#config {
	padding: 8px;
	overflow: hidden;
	overflow-y: scroll;
	display: grid;
	gap: 10px;
}

#cfg-title {
	font-size: larger;
	font-weight: bold;
	padding-left: 5px;
}

input[type="text"],
input[type="password"],
textarea {
	background-color: transparent;
	border-radius: 8px;
	color: var(--text);
	border: 0;
	border: 2px solid var(--primary);
	padding: 8px;
	width: calc(100% - 16px);
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea {
	width: calc(100% - 16px);
	border: 2px solid var(--primary);
}
textarea:focus {
	outline: 1px solid var(--primary);
	outline-offset: 1px;
}
button {
	background-color:  var(--primary-bg);
	color: var(--text);
	border: 2px solid var(--primary);
	padding: 5px 8px;
	border-radius: 8px;
	box-shadow: 1px 1px 0 var(--primary), 2px 2px 0 var(--primary);
}

.modifited {
	font-weight: bold;
}
.modifited::before {
	content: "* ";
	font-weight: bold;
}
.title {
	cursor: pointer;
}

.remove {
	color:deeppink;
	font-weight: bold;
	cursor: pointer;
}
.edit {
	color:cornflowerblue;
	font-weight: bold;
	cursor: pointer;
}
.add {
	color:aquamarine;
	font-weight: bold;
	cursor: pointer;
}

.collapsed {
	display: none;
}
.arrow::before, .note::before {
	color: var(--primary);
	font-size: small;
}
.arrow.closed::before {
	content: "▶ ";
}
.arrow.opened::before {
	content: "▼ ";
}
.note::before {
	content: "[N] ";
}

#tree ul {
	list-style: none;
	padding-left: 15px;
	border-left: 2px solid var(--primary);
}
