:root {
	--bg: #091413;
	--text: #fff;
	--primary: #39c5bb;
	--primary-dark: #216D67;
	--primary-bg: #091413;
}

::-webkit-scrollbar-thumb {
	/* Foreground */
  background: var(--primary);
}
::-webkit-scrollbar-track {
	/* Background */
  background: var(--primary-bg);
  background: transparent;
}

body {
	background: var(--bg);
	color: var(--text);
}

table {
	margin-top: 32px;
}
table tr > td:nth-child(1) {
	max-width: 200px;
}
table tr > td {
	max-width: 400px;
}


#config {
	border: 2px solid var(--primary);
	padding: 8px;
	border-radius: 8px;
	height: 24px;
	overflow: hidden;
	transition-duration: .2s;
	transition-delay: .1s;
	margin-bottom: 20px;
}
#config:hover {
	height: 300px;
	overflow-y: scroll;
	transition-duration: .1s;
	transition-delay: .5s;
}

#cfg-title {
	font-size: larger;
	font-weight: bold;
	position: absolute;
	background-color: var(--primary-bg);
	padding: 0 5px;
}
#cfg-subtitle {
	font-size: small;
	position: absolute;
	right: 18px;
	margin-top: 4px;
	background-color: var(--primary-bg);
	padding: 0 5px;
}

input[type="text"],
input[type="password"],
textarea {
	background-color:  var(--primary-bg);
	color: var(--text);
	border-radius: 8px;
	border: 2px solid var(--primary);
	padding: 8px;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	outline: 1px solid var(--primary);
	outline-offset: 1px;
}
textarea {
	width: calc(100vw - 38px);
	height: 300px;
}
button {
	background-color:  var(--primary-bg);
	color: var(--text);
	border: 2px solid var(--primary);
	padding: 5px 8px;
	border-radius: 8px;
	box-shadow: 1px 1px 0 var(--primary), 2px 2px 0 var(--primary);
}
